git+https://github.com/memfault/pyserial.git@master-memfault
invoke==2.1.1
mbed-cli==1.10.1
pyftdi==0.29.4
west==0.13.0
pyyaml==6.0
colorama==0.4.3
fastcov==1.14
pytest==7.0.1
pytest-xdist==3.0.2
pytest-mock==3.10.0
snapshottest==0.6.0
