# Note: Kconfig doesn't support relative paths so we derive the Kconfig location
# relative to ${ZEPHYR_BASE}. This does create an implicit req that the user must
# place the memfault-firmware-sdk in the modules/ directory but this is already how
# third party libs are working with the nrf connect sdk.
source "${ZEPHYR_BASE}/../modules/memfault-firmware-sdk/ports/zephyr/Kconfig"