config MEMFAULT
        bool "MEMFAULT Support"
        default y
        depends on CPU_CORTEX_M
        select RUNTIME_NMI
        help
          Enable Zephyr Integration with the Memfault SDK
          At the moment a port is only provided for Cortex-M based targets

config MEMFAULT_RAM_BACKED_COREDUMP
        bool "MEMFAULT Ram Backed Coredump"
        default y if MEMFAULT
        help
          Save a minimal coredump in RAM.

config MEMFAULT_SHELL
        bool "MEMFAULT Shell"
        default y if MEMFAULT
        select SHELL
        help
          CLI Utilities for interfacing with the Memfault SDK
