config MEMFAULT_NRF_CONNECT_SDK
        bool "nRF Connect SDK extensions"
        default y if ZEPHYR_NRF_MODULE && (SOC_SERIES_NRF52 || SOC_SERIES_NRF53 || SOC_SERIES_NRF54L || SOC_SERIES_NRF91)

if MEMFAULT_NRF_CONNECT_SDK

config MEMFAULT_FOTA
        bool "Memfault FOTA Library"
        default n
        depends on MEMFAULT_HTTP_ENABLE
        depends on FOTA_DOWNLOAD
        help
          Adds support for using Memfaults Release Management infrastructure
          to retrieve binaries to install (https://mflt.io/release-mgmt). If an update
          is available, the binary will be downloaded and installed using the FOTA Download
          Client provided in the nRF Connect SDK.

          See https://mflt.io/nrf-fota-setup for more details

config MEMFAULT_NRF_SHELL
        bool "Memfault NRF Shell"
        default y if MEMFAULT_SHELL
        depends on SHELL
        help
          CLI Utilities for interfacing with the nRF Connect SDK

choice MEMFAULT_NRF_CONNECTIVITY_CONNECTED_TIME
        bool "Select the platform implementation for capturing connected time metric"
        default MEMFAULT_NRF_CONNECTIVITY_CONNECTED_TIME_NRF91X if SOC_SERIES_NRF91

config MEMFAULT_NRF_CONNECTIVITY_CONNECTED_TIME_NRF91X
        bool "Capture connected time metric on nRF91x platforms"
        select MEMFAULT_PLATFORM_METRICS_CONNECTIVITY_BOOT
        depends on SOC_SERIES_NRF91
        depends on LTE_LINK_CONTROL
        help
          Enables connection uptime device vital for the nRF91X platform.
          Connectivity connection uptime will track the percent of
          time the platform is actually connected to the cellular network
          when it should be connected. More information at
          https://mflt.io/core-metrics .

endchoice

if MEMFAULT_FOTA

config MEMFAULT_FOTA_CLI_CMD
        bool "CLI command for triggering OTA updates"
        default y
        depends on MEMFAULT_NRF_SHELL

config MEMFAULT_FOTA_DOWNLOAD_CALLBACK_CUSTOM
        bool "Add custom handler for receiving OTA events"
        default n
        help
          By default, the Memfault SDK implements a stub for FOTA callback
          events. An end user can provide their own implementation by enabling
          this option and implementing memfault_fota_download_callback()

config MEMFAULT_FOTA_HTTP_FRAG_SIZE
        int "HTTP fragment size used for downloading OTA images"
        default 1024
        help
          The size of the HTTP fragment to request from the server. This
          value should be set to the maximum size that can be received by
          the device. If 0, no fragmentation is used.

endif # MEMFAULT_FOTA

config MEMFAULT_NRF_NRF5_CPU_TEMP
        bool
        default y
        depends on TEMP_NRF5_MPSL
        imply MEMFAULT_METRICS_CPU_TEMP
        help
          Enables collection of CPU temperature metrics for supported devices.
          Use the MEMFAULT_METRICS_CPU_TEMP config option to disable support.

config MEMFAULT_NRF_PLATFORM_BATTERY_NPM13XX
        bool "nPM13xx Battery Support"
        default y if BOARD_THINGY91X_NRF9151_NS
        select MEMFAULT_METRICS_BATTERY_ENABLE
        depends on NRF_FUEL_GAUGE
	      depends on NPM13XX_CHARGER
        help
          Enables battery metrics support for devices using the nPM13xx PMIC.
          The user must provide memfault_nrf_platform_battery_model.h with the
          model of the battery as defined by the nRF Fuel Gauge API.
          Note, since this port calls nrf_fuel_gauge_process(), applications
          that want to read state of charge should call
          memfault_platform_get_stateofcharge() to avoid conflicting calls to
          the fuel gauge library.

config MEMFAULT_NRF_PLATFORM_BATTERY_NPM13XX_INIT_PRIORITY
        int "nPM13xx Battery Initialization Priority"
        # Set to the default for MEMFAULT_INIT_PRIORITY - 1
        default 39
        depends on MEMFAULT_NRF_PLATFORM_BATTERY_NPM13XX
        help
          Sets the initialization priority for the nPM13xx battery platform
          integration. This value is should be set to be lower than
          MEMFAULT_INIT_PRIORITY (higher priority) to ensure that the platform
          battery SOC can be collected during Memfault initialization.

menuconfig MEMFAULT_USE_NRF_CLOUD_TRANSPORT
        bool "Use nRF Cloud CoAP endpoint"
        depends on MODEM_JWT
        depends on COAP
        depends on (COAP_EXTENDED_OPTIONS_LEN_VALUE >= 192)
        help
          Note: Requires device to be provisioned with nRF Cloud.

if MEMFAULT_USE_NRF_CLOUD_TRANSPORT

config MEMFAULT_NRF_CLOUD_SEC_TAG
        int "Security tag to use for nRF Cloud connection"
        default 16842753

config MEMFAULT_NRF_CLOUD_HOST_NAME
        string "nRF Cloud server hostname"
        default "coap.nrfcloud.com"

config MEMFAULT_COAP_PACKETIZER_BUFFER_SIZE
        int "Set the size of the CoAP packetizer buffer"
        default 1400

config MEMFAULT_COAP_CLIENT_TIMEOUT_MS
        int "The CoAP client timeout in milliseconds"
        default 5000
        help
          The Memfault CoAP client timeout in milliseconds. This is the
          maximum amount of time the CoAP client will wait for a response from
          the server.

endif # MEMFAULT_USE_NRF_CLOUD_TRANSPORT

endif # MEMFAULT_NRF_CONNECT_SDK
